.mySection {
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow-x: hidden;
}
.myButton{
    width: 100px;
    margin-bottom: 5px;
    padding: 5px 15px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.addPlayers {
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    height: 100vh;
    padding: 10px 25px;
    background-color: black;
}

.addPlayers h3 {
    color: white;
    text-align: center;
}

.addPlayers form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.addPlayers input {
    padding: 5px 15px;
    border-radius: 5px;
}
.addPlayers input::placeholder{
    color: black;
}
.addPlayers input:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

.edit{
    background-color: yellow;
    color: black;
}
.add{
    background-color:brown;
    width: 100%;
}
.remove{
    background-color: brown;
}

.playerLists {
    background-color: bisque;
    flex-basis: 85%;
    height: 100vh;
    padding-bottom: 10px;
}
.playerLists table{
    width: 100%;
    height: calc(100vh);
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.playerLists tr{
    display: flex;
    justify-content: space-between;
}
.playerLists th, .playerLists td{
    
    padding: 20px;
    width: 175px;
    align-self: center;
    text-align: center;
    word-wrap: break-word
}
.playerLists th:nth-child(1),
.playerLists th:nth-child(4){
    width: 71px;
}
.playerLists td:nth-child(1),
.playerLists td:nth-child(4){
    width: 71px;
}
.playerLists tr:nth-child(even){
    background-color: #f2f2f2;
}
.playerLists thead tr{
    background-color: black;
    color: white;
}
.playerLists tbody tr:hover{
    background-color: #ddd;
}
.playerLists tbody p{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, 50%);
}