
.my_body{
  width: 100%;
  height: 100vh;
  background-image: url(img/3876081.jpg);
  background-repeat: no-repeat;
} 

.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  .table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .table_high,
  .myTd {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  .table_high {
    background-color: rgb(117, 201, 250);
  }
  
 .myTd {
    background-color: rgb(205, 235, 253);
  }
  
  .myForm {
    display: flex;
    gap: 5px;
  }
  
  .myForm td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  .myForm * {
    font-size: 28px;
  }