.wrapperNarek{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url(https://wallpaperaccess.com/full/4848691.jpg);
    height: 100vh;
    padding-top: 10%;
    
    color: rgb(151, 154, 157);
    font-size: 20px;

}
.wrapper-content{
    display: flex;
    justify-content: space-between;
    width: 60%;
}
.formStyle{
    display: flex;
    flex-direction: column;
}
.myInputsStyle{
    padding: 5px;
    margin: 5px;
    background-color: rgb(65, 65, 66);
    margin-left: 100px;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 195px;
    margin: 6px;
    height: 25px;
    margin-left: 100px;
}

.buttonsStyle{
    width: 50%;
    
    height: 30px;
    background-color: rgb(44, 43, 43);
    color: aliceblue;
    border-color: aliceblue;
    
}



.table-data{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgb(255, 255, 255);
    margin-left: -20%;
}

.thStyle{
    min-width: 100px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    color: aliceblue;
    background-color: rgb(44, 43, 43);
}
.thStyle:first-child{
    min-width: 10px;
}


.tdStyle{
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(44, 43, 43);
}
.thStyleActions{
    min-width: 150px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
    padding: 5px;
    color: aliceblue;
    background-color: rgb(44, 43, 43);
}
